@import "generales";

.cardsUs {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

.card {
  background-color: transparent;
  border: transparent;
  display: flex;
  align-items: center;

  .nombreCard {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding-bottom: 5px;
  }
  .card-img-top {
    width: 250px;
    border: 0px;
    float: left;
    margin: 15px;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -ms-transition: margin 0.5s ease-out;
    transition: margin 0.5s ease-out;
  }
  .card-img-top:hover {
    margin-top: 2px;
  }
}
